*{
    text-align: center;
}

html{
    background: rgb(107, 142, 35);
}

body {
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
  flex: 1;
}

